<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title><%- htmlWebpackPlugin.options.pkg.title %></title>
    </head>

    <body ng-strict-di layout="column" ui-view="ims-page" id="popupContainer">
        <div>HELLO WORLD</div>
        <% for (var chunk in htmlWebpackPlugin.files) { %>
            <% if(typeof(chunk) == 'js') {%>
                <script src="<%= htmlWebpackPlugin.files[chunk]%>"></script>
            <% } %>
        <% } %>
    </body>
    <!-- {%= o.htmlWebpackPlugin.options.pkg.name + ' v' + o.htmlWebpackPlugin.options.pkg.version + ' built on ' + new Date() %} -->

</html>
